@use "variables" as *;

.logo {
  padding: 70px 0;
  border-top: 1px solid rgba(37, 37, 37, 1);
  border-bottom: 1px solid rgba(37, 37, 37, 1);
}

.logo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 100%;
}
.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
}

@media screen and (max-width: $ui-breakpoint-lg) {
  .logo {
    padding: 40px 0;
    border: none;
  }
  .logo__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}

@media screen and (max-width: $ui-breakpoint-md) {
  .logo {
    padding: 30px 0;
    border: none;
  }
}
